:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --navy-blue-color: #2E2F42;
    --text-color: #434455;
    --light-color: #F4F4FD;
    --white-background-color: #FFFFFF;
    --font-family-text: 'Roboto', sans-serif;
    --second-font-family-text: 'Raleway', sans-serif;
}
body {
font-family: var(--font-family-text);
font-size: 24px;
font-weight: bold;
color: var(--text-color);
background-color: var(--white-background-color);
}
header {
    background-color: #E7E9FC;
}
.link {
    text-decoration: none;
}
.main-site .link {
text-transform: uppercase;
font-family: var(--second-font-family-text);
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--primary-brand-color);
}
.main-site .main-site-link-part {
color: var(--navy-blue-color);
}
.link {
    text-decoration: none;
}


.list .link {
font-family: var(--font-family-text);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--navy-blue-color);
text-decoration: none;
}

.list .link:active {
color: var(--pressed-state-color);
}
.list .link:hover {
color: var(--pressed-state-color);
}
.list {
    list-style: none;
}
.address-nav {
font-style: normal;
}
.address-nav .link {
font-family: var(--font-family-text);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);

text-decoration: none;
}
.address-nav .link:active {
color: var(--pressed-state-color);
}
.address-nav .link:hover {
color: var(--pressed-state-color);
}
.dark-background {
background-color: var(--navy-blue-color);
}
.dark-background .main-header {
font-family: var(--font-family-text);
font-size: 56px;
font-weight: bold;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: var(--white-background-color);
}
.main-header-button {
    color: var(--white-background-color);
    background-color: var(--primary-brand-color);
    font-family: var(--font-family-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
 .main-header-button:hover {
   background-color: var(--pressed-state-color);
}
.main-header-button:active {
    background-color: var(--pressed-state-color);
}
.third-main-header {
    font-family: var(--font-family-text);
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--navy-blue-color);
}
.list {
    list-style: none;
}
.team {
    background-color: var(--light-color);}

.photo-mark .third-main-header {
    font-family: var(--font-family-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
}
.photo-mark .body-text {
    font-family: var(--font-family-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
}
.end-of-page {
    background-color: var(--navy-blue-color);
}
.end-of-page .footer-web {
    color: var(--primary-brand-color);
    text-transform: uppercase;
    font-family: var(--second-font-family-text);
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-decoration: none;
}
.end-of-page .footer-studio {
    color: var(--light-color);
}
.end-of-page .foot-parag {
    font-family: var(--font-family-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: var(--light-color);
}
.list {
    list-style: none;
}
.list .filter-act {
font-family: var(--font-family-text);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04;
color: var(--primary-brand-color);
background-color: var(--light-color);
cursor: pointer;
}
.list .filter-act:hover {
 color: var(--white-background-color); 
 background-color: var(--pressed-state-color);  
}
.filters .filter-act:active {
    color: var(--white-background-color);
    background-color: var(--pressed-state-color);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.list .header-3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
}
.list .body-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
